body{
    font-family:"Segoe UI";
    color: black;
    background-color: #f6f6f6;
    margin:0;
    font-size:0;
    line-height: 0px;
    font-weight: 500;
}
header{
    font-size:1.2vw;
    height: 5vw;
    max-height: 50px;
    background-color: black;
}
nav a img{
    width:5vw;
    height:5vw;
    max-width:50px ;
    max-height:50px ;
}
nav a{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    box-sizing:border-box;
    padding:1vw 1.5vw;
    height: 5vw;
    max-height: 50px;
    float: left;
    color: white;
    text-decoration: none;
}
nav a:first-child{
    line-height: 0;
}
a:hover{
    color: grey;
}
nav a:nth-child(2){
    background-color: rgb(44, 43, 43);
}
nav a:nth-child(2):hover{
    color: white;
}
nav a:first-child{
    padding:0;
}
header .myaccount{
    width:8.33vw;
    max-width: 160px;
    min-width: 80px;
    position:relative;
    height: 100%;
    margin-right: 50px;
    float: right;
}
.dropdown p{
    padding:0;
    margin:0;
    float: left;
    color: white;
}
.dropdown{
    display: flex;
    justify-content: center; 
    align-items: center;
    position: absolute;
    top:25%;
    height: 50%;
    cursor: pointer;
    text-decoration: none;
}
.dropdown img{
    width: 3vw;
    height: 3vw;
    max-width: 30px;
    max-height: 30px;
    float:right;
}
.dropdown-content{
    font-size: 0.8vw;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    position: absolute;
    top:100%;
    display: none;
    width: 120px;
}
.myaccount:hover .dropdown-content {
    display: block;
}
.dropdown-content:hover {
    display: block;
}
.dropdown-content a{
    border-top: solid;
    border-width: 1px;
    border-color: grey;
    padding:20px 10px;
    color: black;
    display: block;
    text-decoration: none;
}
.dropdown-content a:first-child{
    border-style: none;
}