body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    background-color: #f6f6f6;
    margin:0;
    font-size:0;
    line-height: 0px;
    font-weight: 500;
}
nav a:nth-child(4){
    background-color: rgb(44, 43, 43);
}
nav a:nth-child(4):hover{
    color: white;
}
.search,.result{
    float: left;
    font-size: 1vw ;
    width: 98%;
    height: auto;
    margin:calc(1% - 1px) calc(1% - 1px);
    border:solid 1px grey;
    border-radius: 5px;
    margin-bottom: 2%;
}
.main{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-indent: 30px;
    background-color: rgb(226, 223, 223);
    color:grey ;
    height: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.searchform{
    border-top: solid 1px grey;
    display: flex;
    flex-direction: column;
    padding: 2em 2em;
}
.textinput{
    font-size: 1vw;
    border:solid 1px grey;
    border-radius: 10px;
    width: calc(100% - 2em);
    height: 2em;
    padding:0.5em 1em;
}
.choice{
    line-height: 3em;
}
.descinput{
    vertical-align: text-top;
    line-height: 2em;
    font-size: 1vw;
    border:solid 1px grey;
    border-radius: 10px;
    width: calc(100% - 2em);
    height: 8em;
    padding:0.5em 1em;
}
.button{
    float: right;
    border: none;
    color: white;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    background-color: #4CAF50;
    width:20%;
    height: 3vw;
    margin-top:2em;
}
.button span {
    font-size:24px;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: padding 0.5s;
}
.button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: -5%;
    right: -10%;
    transition: 0.5s;
}
.button:hover span {
    padding-right: 10%;
}
.button:hover span:after {
    opacity: 1;
    right: 0;
}
.resultdiv{
    position: relative;
    float: left;
    height: 14em;
    border-top: solid 1px grey;
}
.resultdiv img{
    float: left;
    height: 12em;
    margin:1em 1em;
    max-width: 14em;
    object-fit: cover;
}
.title{
    padding:0  1em;
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-size: 1.6vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    float: right;
    width:calc(100% - 20vw);
}
.desc{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    float: right;
    width: calc(100% - 20vw);
    padding:0 1.6vw;
    font-size: 1.2vw;
    line-height: 2em;
}
.page{
    height: 3em;
    color:blue;
    font-size: 1.6vw;
    float: left;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
}
.page a{
    cursor: pointer;
    margin:0 1em;
}
@media only screen and (max-width:1600px){
    .choice{
        font-size: 16px;
    }
    .descinput,.main,.result,.textinput{
        font-size: 16px;
    }
    .button{
        height: 48px;
        width: 20%;
        margin-left:40%;
    }
    .title{
        font-size: 24px;
        width:calc(100% - 310px);
    }
    .desc{
        font-size: 20px;
        width:calc(100% - 310px);
    }
    .page{
        font-size: 20px;
    }
}
@media only screen and (max-width:600px){
    .main{
        height: 2em;
    }
    .choice{
        line-height: 2em;
    }
    .resultdiv{
        height: auto;
    }
    .resultdiv img{
        width: calc(100% - 2em);
        max-width: 1000em;
        height: auto;
        object-fit: fill;
    }
    .title{
        width:calc(100% - 40px);
        margin-top: 0.5em;
        padding:0 20px;
        justify-content: center;
    }
    .desc{
        width:calc(100% - 40px);
        padding:0 20px;
    }
    .button{
        width:40%;
        margin-left: 30%;
        margin-top: 10px;
    }
    .page a{
        cursor: pointer;
        margin:0 0.5em;
    }
}