body{
    font-family:"Segoe UI";
    color: black;
    background-color: #f6f6f6;
    margin:0;
    font-size:0;
    line-height: 0px;
    font-weight: 500;
}
nav a:nth-child(2){
    background-color: rgb(44, 43, 43);
}
nav a:nth-child(2):hover{
    color: white;
}
.headimg{
    float: left;
    width: 100%;
}
.picshow{
    font-size: 16px;
    float: left;
    margin:4% 4%;
    width:25vw;
    height:30vw;
    background-color: rgb(196, 192, 192);
    border-radius: 25px;
}
.picshow img{
    width:20vw;
    height:20vw;
    padding-top: 2.5vw;
    padding-left: 2.5vw;
    padding-bottom: 1vw;
}
.picshow p{
    text-align: center;
    padding:5% 0;
}
.picshow p:nth-child(2){
    font-size: 20px;
    font-weight: bold;
}
img{
    object-fit: cover;
}
.auxbuttons{
    background-color: grey;
    border-radius: 5px;
    position: fixed;
    right:10px;
    bottom:20px;
}
.reload{
    cursor: pointer;
}
.auxbuttons a img{
    margin:10px 10px;
}
@media only screen and ( max-width:600px){
    .picshow{
        width:42vw;
        height:50vw;
    }
    .picshow img{
        width:37vw;
        height:37vw;
    }
    .auxbuttons img{
        height: 16px;
        width: 16px;
    }
}
@media only screen and ( max-width:430px){
    .picshow{
        width:92vw;
        height:110vw;
    }
    .picshow img{
        width:87vw;
        height:87vw;
    }
    .auxbuttons img{
        height: 12px;
        width: 12px;
    }
}