body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    background-color: #f6f6f6;
    margin:0;
    font-size:0;
    line-height: 0px;
    font-weight: 500;
}
.myfavor{
    float: left;
    font-size: 1vw ;
    width: 98%;
    height: auto;
    margin:calc(1% - 1px) calc(1% - 1px);
    border:solid 1px grey;
    border-radius: 5px;
}
.main{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-indent: 30px;
    background-color: rgb(226, 223, 223);
    color:grey ;
    height: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.favordiv{
    position: relative;
    float: left;
    height: 20em;
    border-top: solid 1px grey;
}
.favordiv img{
    float: left;
    height: 18em;
    margin:1em 1em;
    max-width: 20em;
    object-fit: cover;
}
.title{
    padding:0  1em;
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-size: 1.6vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    float: right;
    width:calc(100% - 26vw);
}
.desc{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    float: right;
    width: calc(100% - 26vw);
    padding:0 1.6vw;
    font-size: 1.2vw;
    line-height: 2em;
}
.button{
    float: right;
    border: none;
    color: white;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(192, 64, 64);
    width:20%;
    height: 3vw;
    position: absolute;
    bottom: 1vw;
    right: 2vw;
}
.button span {
    font-size:24px;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: padding 0.5s;
}
.button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: -5%;
    right: -10%;
    transition: 0.5s;
}
.button:hover span {
    padding-right: 10%;
}
.button:hover span:after {
    opacity: 1;
    right: 0;
}
.page{
    height: 3em;
    color:blue;
    font-size: 1.6vw;
    float: left;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
}
.page a{
    cursor: pointer;
    margin:0 1em;
}
@media only screen and (max-width:1600px){
    .myfavor{
        font-size: 16px;
    }
    .title{
        font-size: 24px;
        width:calc(100% - 420px);
    }
    .desc{
        font-size: 20px;
        width:calc(100% - 420px);
    }
    .button{
        height: 48px;
        bottom: 32px;
    }
    .page{
        font-size: 20px;
    }
}
@media only screen and (max-width:600px){
    .favordiv{
        height: auto;
    }
    .favordiv img{
        width: calc(100% - 2em);
        max-width: 1000em;
        height: auto;
        object-fit: fill;
    }
    .title{
        width:calc(100% - 40px);
        padding:0 20px;
        margin-top: 0.5em;
        justify-content: center;
    }
    .desc{
        width:calc(100% - 40px);
        padding:0 20px;
    }
    .button{
        position: unset;
        width:40%;
        margin:10px 30%;
    }
    .page a{
        cursor: pointer;
        margin:0 0.5em;
    }
}
